[Desktop Entry]
Type=Application
Name=Gleem Crossfade
GenericName=Audio Mixer
Comment=Dual-mix virtual audio mixer for streaming
Exec=gleem-crossfade
Icon=gg.gleem.Crossfade
Terminal=false
Categories=AudioVideo;Audio;Mixer;GTK;
Keywords=audio;mixer;stream;mix;pipewire;monitor;crossfade;
StartupNotify=true
SingleMainWindow=true
X-GNOME-UsesNotifications=false
